<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <img class="yout-img" src="/images/youtube.png" alt="youtube">
                    </a>
                </li>
                <li class="nav-item">
                    <form action="" class="nav-form">
                        <input class="search-input" type="search" name="search" id="search_videos">
                        <button class="search-button">
                            <img class="search-img" src="/images/search.svg" alt="search">
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        <img class="upload-img" src="/images/video-upload.svg" alt="video upload">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <!-- <div class="container"> -->
            <div class="users">
                <ul class="user-list">
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                    <li class="user-item">
                        <img class="user-image" src="http://picsum.photos/40" alt="igm">
                        <p class="user-name">Imron</p>
                    </li>
                </ul>
            </div>
            <div class="videos">
                <ul class="vidoe-list">
                    <li class="video-item">
                        <video class="upload-video" controls>
                            <source src="/images/video.mp4">
                        </video>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </main>
    
    <script src="/js/request.js"></script>
    <script src="https://kit.fontawesome.com/e5b1ea226b.js" crossorigin="anonymous"></script>
</body>
</html>