<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <img class="yout-img" src="/images/youtube.png" alt="youtube">
                    </a>
                </li>
                <li class="nav-item">
                    <form action="" class="nav-form">
                        <input class="search-input" type="search" name="search" id="search_videos" autocomplete="off">
                        <button class="search-button">
                            <img class="search-img" src="/images/search.svg" alt="search">
                        </button>
                    </form>
                    <ul class="bar-list">
                        <!-- <li class="bar-item">Imron</li> -->
                    </ul>
                </li>
                <li class="nav-item">
                    <button type="button" class="upload-btn">
                        <img class="upload-img" src="/images/video-upload.svg" alt="video upload">
                    </button>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="users">
            <ul class="user-list">
                 
            </ul>
        </div>
        <div class="videos">
            <ul class="vidoe-list">
                
            </ul>
        </div>
    </main>
    
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>