<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/css/upload.css">
</head>
<body>
    <section class="upload-section">
        <div class="container">
            <div class="form-section">
                <div>   
                    
                </div>
                <form id="upload_form" action="/api/upload" method="POST">
                    <label>
                        <h2>Upload media</h2>
                    </label>
                    <input type="text" name="text" id="vide_name" placeholder="Your video's name">
                    <input type="file" name="file" id="upload_video" required>
                    <button type="submit" id="upload_button">Upload a file</button>
                </form>
            </div>
            <div class="uploaded-section">
                <div class="uploaded-title">
                    <h2>Uploaded vidoes</h2>
                </div>
                <ul class="vidoe-list">
                    <li class="video-item">
                        <button class="del-button">&times;</button>
                        <video class="upload-video" controls width="220px">
                            <source src="/images/video.mp4">
                        </video>
                        <p class="video-name" contenteditable="true">name</p>
                    </li>  
                </ul>
            </div>
        </div>
    </section>

    <script src="/js/upload.js"></script>
</body>
</html>