*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
    }

.container {
    width: 1880px;
    margin: 0 auto;
}

.nav {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
}

.back-btn {
    width: 40px;
    height: 100%;
    border: none;
    outline-style: none;
    background-color: transparent;
    display: none;
}

.back-img {
    width: 100%;
}

.nav-form {
    display: flex;
    align-items: center;
    background-color: white;
}

.left-btn {
    margin-left: 10px;
    width: 45px;
    height: 100%;
    border: none;
    outline-style: none;
    background-color: transparent;
    display: none;
}

.left-img {
    width: 100%;
}

.search-input {
    padding: 5px 10px;
    width: 550px;
    outline-style: none;
}

.search-button {
    width: 80px;
    cursor: pointer;
}

.search-img {
    width: 22px;
    height: 22px;
}

.bar-list {
    position: absolute;
    background-color: white;
    top: 120%;
    width: 100%;
    font-size: 18px;
    margin: 5px 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.bar-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.bar-item:hover {
    background-color: rgba(0,0,0,0.2);
}

.res-btn {
    width: 80px;
    cursor: pointer;
    border: none;
    outline-style: none;
    background-color: transparent;
    display: none;
}

.res-img {
    width: 30px;
    height: 30px;
}

.upload-btn {
    margin-left: 5px;
    padding-left: 10px;
    margin-top: 7px;
    background-color: transparent;
    border: none;
    outline-style: none;
    cursor: pointer;
}

.upload-img {
    width: 40px;
}

.main {
    display: flex;
}

.users .videos {
    position: relative;
}

.user-list {
    width: 300px;
    height: 93vh;
    overflow-y: scroll;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.user-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px 0;
    transition: 0.5s;
    padding: 20px;
}

.user-item:hover {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-name {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    width: 30%;
}

.videos {
    width: 100%;
    height: 93vh;
    overflow-y: scroll;
}

.vidoe-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
}

.video-item {
    margin: 25px;
}

.videos-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
}

.vidoe-info {
    display: flex;
}

.video-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.vidoe-info span {
    margin-left: 10px;
}

.video-user {
    font-size: 23px;
    font-weight: bold;
}

.video-name {
    font-size: 20px;
    font-weight: 550;
}

.down-link {
    align-self: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    outline-style: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.down-link:hover {
    background-color: rgba(0,0,0,0.2);
}

.down-image {
    width: 100%;
}

@media (max-width: 1870px) {
    .container {
        width: 1800px;
    }
}

@media (max-width: 1800px) {
    .container {
        width: 1650px;
    }

    .video-item {
        width: 40%;
    }

    .upload-video {
        width: 100%;
    }
}

@media (max-width: 1650px) {
    .container {
        width: 1500px;
    }
}

@media (max-width: 1500px) {
    .container {
        width: 1400px;
    }
}

@media (max-width: 1400px) {
    .container {
        width: 1300px;
    }
}

@media (max-width: 1300px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1100px;
    }
}

@media (max-width: 1100px) {
    .container {
        width: 990px;
    }

    .video-item {
        width: 80%;
    }

    .user-list {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 800px;
    }
    
    .yout-img {
        margin-left: 15px;
    } 

    .search-input {
        width: 400px;
    }

    .user-list {
        background-color: white;
        position: absolute;
        z-index: 1;
        width: 100%;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    }

    .userHidden {
        display: none;
    }

    .vidoes {
        z-index: 2;
        background-color: white;
        width: 900px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 690px;
    } 

    .search-input {
        width: 350px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 590px;
    } 

    .nav-form {
        display: none;
    }

    .res-form {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -35px;
        right: -320px;
        z-index: 1;
        height: 70px;
        width: 609px;
    }

    .res-btn {
        display: block;
    }
    
    .search-button {
        display: none;
    }

    .res-input {
        background-color: rgba(199, 198, 198, 0.4);
        border: none;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 70%;
    }

    .bar-list {
        margin-top: 30px;
        top: 250%;
        z-index: 1;
        width: 425px;
        background-color: white;
        right: -255px;
    }

    .search-button:focus .search-input {
        display: block;
    }

    .upload-btn {
        margin-top: 5px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 500px;
    } 

    .res-form {
        width: 590px;
    }

    .bar-list {
        width: 410px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 390px;
    } 

    .res-form {
        width: 400px;
        right: -200px;
    }

    .bar-list {
        width: 285px;
        right: -170px;
    }
}

@media (max-width: 390px) {
    .container {
        width: 100%;
    } 

    .res-form {
        width: 380px;
        right: -190px;
    }
}