* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1640px;
    margin: 0 auto;
}

.upload-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    padding: 50px 20px;
    width: 30%;
    height: 400px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    position: relative;
}

#upload_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#upload_form label {
    margin-bottom: 30px;
    font-size: 25px;
}

#vide_name {
    padding: 10px;
    font-size: 18px;
    outline-style: none;
}

#vide_name::placeholder {
    font-size: 17px;
}

#upload_video {
    margin: 20px 0;
    background-color: transparent;
}

#upload_video::-webkit-file-upload-button {
    visibility: hidden;
}
#upload_video::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 16px;
}
#upload_video:hover::before {
    border-color: black;
}
#upload_video:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#upload_button {
    padding: 15px;
    background-color: rgb(199, 8, 8);
    border-radius: 10px;
    font-size: 18px;
    color: white;
    width: 40%;
    margin: 10px auto;
    border: none;
    outline-style: none;
    cursor: pointer;
}

.home-page {
    position: absolute;
    bottom: 5%;
    right: 10%;
    color: blue;
    text-decoration: underline;
    font-size: 18px;
}

.uploaded-section {
    margin-left: 50px;
    width: 50%;
    height: 600px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    padding: 60px 30px;
    padding-top: 20px;
    overflow-y: scroll;
}

.uploaded-section h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.vidoe-list {
    display: flex;
    flex-wrap: wrap;
}

.video-item {
    margin: 0 10px;
    position: relative;
}

.del-button {
    position: absolute;
    right: 0;
    border: none;
    background-color: rgba(0,0,0,0.5);
    outline-style: none;
    font-size: 25px;
    padding: 5px 10px;
    color: white;
    display: none;
    cursor: pointer;
    transition: .3s;
    z-index: 2;
}

.video-item:hover .del-button {
    display: block;
}

.video-name {
    font-size: 23px;
    font-weight: bold;
}